@using SSquared.Web.Views.Components
@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center ">
    <div class="card-header">
        Employees
    </div>
    <div class="card-body m-8">
        <!--  Load Blazor component fronm Components folder   --> 
        <component type="typeof(EmployeeListComponent)" render-mode="Server" />
    </div>
</div>





