@using SSquared.Web.Views.Components
@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center">
    <div class="card-header">
        Employees
    </div>
    <div class="card-body">
        <component type="typeof(EmployeeListComponent)" render-mode="Server" />
    </div>
</div>


<script>

    function closeModal() {

        $('#employeeModal').modal('hide');
        alert('New employee was successfully added!', 'success')
    }

    function alert(message, type) {

        var EmployeeAddedAlert = document.getElementById('EmployeeAddedAlert')
        var wrapper = document.createElement('div')
        wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

        EmployeeAddedAlert.append(wrapper)
    }

</script>



